.btn {
  border-radius: 15px;
  padding: 0.7em 1em;
  margin: 0 0.2em;
}

.btn.btn-accept:not(:disabled) {
  background: #05a3e8;
  color: #fff;
  margin-right: 3px;
}

.btn.btn-accept:not(:disabled):hover {
  opacity: 0.8;
}

.btn.btn-cancel:not(:disabled) {
  background: #df0f50;
  color: #fff;
}

.btn.btn-cancel:not(:disabled):hover {
  opacity: 0.8;
}

.input {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  padding: 0.3em 0.7em;
  width: 100%;
  resize: none;
}

.inputGroup {
  margin-bottom: 1.5em;
}

.inputGroup label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #484b62;
}

.inputGroup.hasAppend {
  position: relative;
}

.inputGroup.hasAppend .MuiInputBase-root > input {
  padding-left: 5.2em;
}

.inputGroup.hasAppend .append {
  position: absolute;
  left: -3px;
  height: 3.35em;
  border-radius: 0.5em !important;
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
  width: 6em;
}

.text-left,
.text-left input {
  text-align: left;
  direction: ltr;
}






@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/eot/IRANSansWeb_Black.eot');
  src: url('./assets/fonts/eot/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('./assets/fonts/woff2/IRANSansWeb_Black.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('./assets/fonts/woff/IRANSansWeb_Black.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./assets/fonts/ttf/IRANSansWeb_Black.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('./assets/fonts/eot/IRANSansWeb_Bold.eot');
  src: url('./assets/fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('./assets/fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('./assets/fonts/woff/IRANSansWeb_Bold.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./assets/fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/eot/IRANSansWeb_Medium.eot');
  src: url('./assets/fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('./assets/fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('./assets/fonts/woff/IRANSansWeb_Medium.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./assets/fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/eot/IRANSansWeb_Light.eot');
  src: url('./assets/fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('./assets/fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('./assets/fonts/woff/IRANSansWeb_Light.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./assets/fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('./assets/fonts/eot/IRANSansWeb_UltraLight.eot');
  src: url('./assets/fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('./assets/fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('./assets/fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./assets/fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/eot/IRANSansWeb.eot');
  src: url('./assets/fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('./assets/fonts/woff2/IRANSansWeb.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
    url('./assets/fonts/woff/IRANSansWeb.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('./assets/fonts/ttf/IRANSansWeb.ttf') format('truetype');
}

.hidden{
  display: none;
}

body {
  direction: rtl;
  background: #fff;
  font-family: IRANSans, "Roboto", "Helvetica", "Arial", sans-serif !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}